body{
    font-family: 'Raleway', sans-serif;
    color:rgb(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 0.5em;
    margin: 0;
    padding: 15px;
    background: linear-gradient(to right, rgb(0, 255, 255), rgb(255, 0, 212)) no-repeat center center fixed;
    background-size: cover;
}

h1{
    font: 600 3.5em 'Raleway', sans-serif;
    /* font: weight size font-family */
    text-transform: uppercase;
}

h2{
    font: 900 1.5em 'Raleway', sans-serif;
    text-transform: uppercase;
}

h3{
    font: 1000 1em 'Raleway', sans-serif;
    letter-spacing: 0;
}

input:hover{
    cursor: pointer;
}

@media only screen and (max-width: 700px){
    h1{
        font: 600 1.5em 'Raleway', sans-serif;
    }
    h2{
        font: 900 1.2em 'Raleway', sans-serif;
    }
}